# Ignore compiled Python files
__pycache__/

# Ignore CSV files
*.csv

# Ignore Parquet files
*.parquet

# Ignore SQLite files
*.sqlite
*.db

# Ignore nyc_zipcodes
*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shp.xml
*.shxs